[submodule "external/es_la"]
	path = external/es_la
	url = https://github.com/eugnsp/es_la
[submodule "external/es_util"]
	path = external/es_util
	url = https://github.com/eugnsp/es_util
[submodule "external/esl"]
	path = external/esl
	url = https://github.com/eugnsp/esl.git
[submodule "external/esu"]
	path = external/esu
	url = https://github.com/eugnsp/esu.git
